[settings]
profile=black
line_length=100
known_django=django
known_first_party=apps,hip
sections=FUTURE,STDLIB,DJANGO,THIRDPARTY,FIRSTPARTY,LOCALFOLDER
atomic=True
skip=venv,env,node_modules,migrations,.env,.venv
