
$black:#000000;
$very-dark-grey: #616161;
$dark-grey: #444444;;
$grey:#A1A1A1;
$grey-300: #E0E0E0;
$light-grey: #F0F0F0;
$table-header-grey: #323232;

$dark-blue: #0F4D90;
$light-blue: #25CEF7;
$quicklink-blue: #DAEDFE;

$white: #FFFFFF;
