@import "./colors";
@import "./variables";

@mixin links {
  outline: none;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

@mixin headers {
  h2 {
    font-size: $is-size-2;
    padding: 1.5rem 0 0.25rem 0;
    color: $black;
  };
  h3 {
    font-size: $is-size-4;
    margin: 1rem 0;
    font-weight: bold;
    color: $dark-grey;
  };
  h4 {
    font-size: $is-size-5;
    color: $black;
  };
}

@mixin paragraphs {
  p {
    padding: 0.5rem 0;
    max-width: 50rem;
  }
}

@mixin tables {
  table {
    width: 100%;
  }
}

@mixin dark-blue-bg {
  background-color: $dark-blue;
  color: $white;
}

@mixin light-blue-bg {
  background-color: $light-blue;
  color: $black;
}

@mixin black-bg {
  background-color: $black;
  color: $white;
}

@mixin very-dark-grey-bg {
  color: $white;
  background-color: $very-dark-grey;
}

@mixin dark-grey-bg {
  background-color: $dark-grey;
  color: $white;
}

@mixin light-grey-bg {
  background-color: $light-grey;
  color: $black;
}
@mixin modals {
  position: absolute;
  background-color: $white;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  min-height: 100vh;
  max-height: auto;
  z-index: 1000;
}
