@import "./colors";
@import "./variables";

@mixin links {
  outline: none;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

@mixin wagtail-headers {
  h2 {
    font-size: $is-size-2;
    padding: 1.5rem 0 0.25rem 0;
  };
  h3 {
    font-size: $is-size-4;
    margin: 1rem 0;
    font-weight: bold;
  };
  h4 {
    font-size: $is-size-5
  };
}

@mixin wagtail-paragraphs {
  p {
    padding: 0.5rem 0;
  }
}
