@import "./mixins";

// ---------------- Background Colors ----------- //

.dark-blue-bg-hip {
  @include dark-blue-bg;
};

.light-blue-bg-hip {
  @include light-blue-bg;
}

.black-bg-hip {
  @include black-bg;
}

// ---------------- Button No Border ----------- //

.btn-no-border-hip {
  border: none;
}

// -------------------- Height & Width ------------- //

.is-full-height-hip {
  height: 100%;
}

.is-full-width-hip {
  width: 100%;
}