@import "./mixins";
@import "./colors";

// ---------------- Background Colors ----------- //

.dark-blue-bg-hip {
  @include dark-blue-bg;
};

.light-blue-bg-hip {
  @include light-blue-bg;
}

.black-bg-hip {
  @include black-bg;
}

.light-grey-bg-hip {
  @include light-grey-bg;
}

.dark-grey-bg-hip {
  @include dark-grey-bg;
}

// ---------------- Colors ----------- //

.is-dark-blue-hip {
  color: $dark-blue;
}

// ---------------- Button/Links----------- //

.btn-no-border-hip {
  border: none;
}

.btn-footer {
  color: $white;
  &:hover {
    color: $white;
  }
}

// -------------------- Show/Hide ------------- //

.mobile-hidden-hip {
  display: inline-block;
  @media screen and (max-width: $breakpoint-tablet) {
    display: none;
  }
}

.desktop-hidden-hip {
  display: block;
  @media screen and (min-width: $breakpoint-tablet) {
    display: none;
  }
}

// -------------------- Height & Width ------------- //

.is-full-height-hip {
  height: 100%;
}

.is-full-width-hip {
  width: 100%;
}

// -------------------- Modals ------------- //

body.modal-is-open-hip {
  height: 100vh;
  overflow-y: hidden;
  padding-right: 15px;
}