.two-column-table__row > .field {
    width: 49%;
    display: inline-block;
}

.three-column-table__row > .field {
    width: 32%;
    display: inline-block;
}

.four-column-table__row > .field {
    width: 24%;
    display: inline-block;
}
