{% extends "base.html" %}
{% load form_tags %}

{% block title %}
  Philadelphia Department of Public Health - {{ title }}
{% endblock %}

{% block content %}
<div class="notification-signup-modal columns">
  <div class="column is-2-tablet"></div>
  <div class="column py-2">
    <div class="is-flex is-justify-content-space-between is-vcentered">
      <h5 class="is-size-5 pt-2 pl-4">
        <strong>{{ title }}</strong>
      </h5>
      <button id="notification-signup-close-btn-hip" data-href="{{ close_url }}" class="button btn-no-border-hip pt-4">
        <i class="close-icon-hip"></i>
      </button>
    </div>
    <div class="px-4 columns is-widescreen">
      {# Form Section #}
      <form {% if form.form_id %}id="{{ form.form_id }}"{% endif %} class="column is-half-desktop" method="post" action="{{ request.path }}?next={{ next }}">
        {% csrf_token %}
        <div>
          {% include 'includes/field_errors.html' with errors=form.non_field_errors %}
        </div>

        {% for form_section in form.form_sections %}
          <div>
            <h6 class="is-size-6 py-2"><strong>{{ form_section.header }}</strong></h6>
            {% for field in form_section.fields %}
              <div class="py-2 field form-sections-hip">
                <label class="label is-block is-size-7" for="{{ field.id_for_label }}">{{ field.label }}</label>
                <div class="control">
                  {% if field|widget_class == "Select" %}
                    <div class="select is-small">
                      {{ field }}
                    </div>
                  {% else %}
                    {{ field }}
                  {% endif %}
                </div>
                {% include 'includes/field_errors.html' with errors=field.errors %}
              </div>
            {% endfor %}
          </div>
        {% endfor %}

        {# Submit #}
        <div class="py-4">
          <button class="button is-size-7-touch header-btn-hip ml-0" type="submit">
            <strong>Submit</strong>
          </button>
        </div>
      </form>
      <div class="column"></div>
    </div>
  </div>
  <div class="column is-2-tablet"></div>
</div>
{% endblock %}
