{% extends "base.html" %}

{% block content %}
<div>
  <div>
    <div>
      <a>< Back</a>
    </div>

    <h2 class="pb-5">Response Partner Log In</h2>

    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
      {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
      {% else %}
        <p>Please login to see this page.</p>
      {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      {{ form.username.label_tag }}
      {{ form.username }}
      {{ form.password.label_tag }}
      {{ form.password }}
      Remember me on this computer
      <input type="submit" value="login">
      <input type="hidden" name="next" value="/">
    </form>

    <p><a href="{% url 'password_reset' %}">Reset password</a></p>

    <h3>About this Network</h3>
    <p>Authorization to access these sites must be approved by the Philadelphia Department of Public Health’s Division of Disease Control. Please send an email to <a href="mailto:healthresponse@phila.gov">healthresponse@phila.gov</a> to request information about becoming a response partner.</p>
  </div>
</div>
{% endblock content %}
