{% extends "base.html" %}

{% block sidebar %}
  {% include 'includes/sidebar.html' %}
{% endblock %}

{% block content %}
<div class="login-page-hip columns px-5">
  <div class="column is-half is-offset-one-quarter">
    <h2 class="pb-5">Response Partner Log In</h2>

    {% if form.errors %}
      <p class="message is-danger p-4 mb-4">Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form class="login-form-hip" method="post" action="{% url 'login' %}">
      {% csrf_token %}

      <label class="label pb-2" for="id_username">Username:</label>
      <input class="input is-normal mb-4"type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" required="" id="id_username">
      <label class="label pb-2" for="id_password">Password:</label>
      <input class="input is-normal mb-4" type="password" name="password" autocomplete="current-password" required="" id="id_password">
      <div class="mb-4">
        <input type="checkbox" name="remember_me" id="id_remember_me">
        <span>Remember me on this computer</span>
      </div>

      <input type="submit" value="log in" class="button login-btn-hip full-width-hip mb-4">
      <input type="hidden" name="next" value="{{ next }}">
    </form>

    <p class="has-text-centered"><a href="{% url 'password_reset' %}">Reset password</a></p>

    <h3>About this Network</h3>
    <p>Authorization to access these sites must be approved by the Philadelphia Department of Public Health’s Division of Disease Control. Please send an email to <a href="mailto:healthresponse@phila.gov">healthresponse@phila.gov</a> to request information about becoming a response partner.</p>

    <h2 class="pb-5">City Log In</h2>

    <a class="button login-btn-hip full-width-hip mb-4"
       href="{% url 'social:begin' 'azuread-v2-tenant-oauth2' %}">
      Login via City of Philadelphia SSO
    </a>
  </div>
</div>
{% endblock content %}
