{% extends "base.html" %}
{% load i18n static %}

{% comment %}
  This template is copied from Django's password_reset_done.html, but we:
    - extend our own base.html, rather than Django's admin/base_site.html
    - add our own style classes to match the rest of the HIP site
{% endcomment %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}

<div class="columns password-reset-hip">
  <div class="column is-half is-offset-one-quarter">
    <h3>{{ title }}</h3>

    {% if validlink %}

    <p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

    <form method="post">{% csrf_token %}
      <fieldset class="module aligned">
        <div class="form-row field-password1">
          {% if form.new_password1.errors %}
            <div class="message is-danger p-4 mb-4">
              {{ form.new_password1.errors }}
            </div>
          {% endif %}
          <label for="id_new_password1" class="label pb-2">{% translate 'New password:' %}</label>
          <input class="input is-normal mb-4" type="password" name="new_password1" required="" id="id_new_password1">
        </div>
        <div class="form-row field-password2">
          {% if form.new_password2.errors %}
            <div class="message is-danger p-4 mb-4">
              {{ form.new_password2.errors }}
            </div>
          {% endif %}
          <label for="id_new_password2" class="label pb-2">{% translate 'Confirm password:' %}</label>
          <input class="input is-normal mb-4" type="password" name="new_password2" required="" id="id_new_password2">
        </div>
        <input type="submit" value="{% translate 'Change my password' %}" class="button login-btn-hip full-width-hip mb-4">
      </fieldset>
    </form>

    {% else %}

      <p>{% translate "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>

    {% endif %}

  </div>
</div>
{% endblock %}
