{% extends "base.html" %}
{% load i18n static %}

{% comment %}
  This template is copied from Django's password_reset_done.html, but we:
    - extend our own base.html, rather than Django's admin/base_site.html
    - add our own style classes to match the rest of the HIP site
{% endcomment %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}


<div class="columns password-reset-hip">
  <div class="column is-half is-offset-one-quarter">
    <h3>{{ title }}</h3>

    <p class="pb-4">{% translate 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}</p>

    <form method="post">{% csrf_token %}
      <fieldset class="module aligned">
        <div class="form-row field-email">
          {% if form.email.errors %}
            {{ form.email.errors }}
          {% endif %}
          <label for="id_email" class="label pb-2">{% translate 'Email address:' %}</label>
          <input class="input is-normal mb-4" type="email" name="email" maxlength="254" required="" id="id_email">
        </div>
        <input type="submit" value="{% translate 'Reset my password' %}" class="button login-btn-hip full-width-hip mb-4">
      </fieldset>
    </form>
  </div>
</div>
{% endblock %}
