<div class="response-partner-login-hip mt-6 mb-4 ml-4 p-4">
  <h3>Response Partner Log In</h3>
  <div class="response-partner-login__list-hip">
    <div>Log in to access plans for:</div>
    <ul>
      <li>Closed PODs</li>
      <li>PCW-MSA Regional Partners</li>
      <li>Big City Public Health Preparedness Directors</li>
    </ul>
  </div>
  <a href="{% url 'login' %}" class="is-block py-4">
    <span class="button login-icon-hip ml-0">
      <i class="signin-icon-hip"></i>
    </span>
    <span class="button login-btn-hip btn-on-partnercard-hip ml-0">
      <strong>Log In</strong>
    </span>
  </a>
  <p class="response-partner-login__paragraph-hip pb-4">
    Authorization to access these sites must be approved by the Philadelphia Department of Public Health's Division of Disease Control. Please send an email to <a href="mailto:healthresponse@phila.gov">healthresponse@phila.gov</a> to request information about becoming a response partner.
  </p>
</div>
