<div class="response-partner-login-hip mt-6 mb-4 ml-4 p-4">
  <h3>Response Partner Log In</h3>
  <div class="response-partner-login__list-hip">
    <div>Log in to access plans for:</div>
    <ul>
      <li>Exercise Partners</li>
      <li>Closed PODs</li>
      <li>PCW-MSA Regional Partners</li>
      <li>Big City Public Health Preparedness Directors</li>
    </ul>
  </div>
  <a href="" class="is-block py-4">
    <span class="button login-icon-hip ml-0">
      <i class="signin-icon-hip"></i>
    </span>
    <span class="button login-btn-hip ml-0">
      <strong>Partner Log In</strong>
    </span>
  </a>
  <p class="response-partner-login__paragraph-hip pb-4">
    Authorization to access these sites must be approved by the Philadelphia Department of Public Health’s Bioterrorism and Public Health Preparedness Program.
  </p>
  <p class="response-partner-login__paragraph-hip pb-4">
    Closed PODs are private locations such as businesses, universities, or nursing homes where mass countermeasures can be dispensed to a specific group of people.
  </p>
  <p class="response-partner-login__paragraph-hip pb-4">
    For more information on becoming a closed POD, please contact <a href="mailto:ClosedPOD@phila.gov">ClosedPOD@phila.gov</a>
  </p>
</div>
