@import "../colors";

.disease-control-card-hip {
  border-bottom: 2px solid $light-grey;
  line-height: 2rem;

  .emergent-dates-hip {
    color: $black;
  }

  .emergent-btn-hip {
    font-family: "Open Sans", sans-serif;
    color: $black;
    background-color: $light-red;
  }

  .card-link-hip {
    color: $dark-blue; 
  }
  .page-description-hip {
    p {
      color: $black;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        display: flex;
        margin-left: 1rem;
        &:before {
          content: "•";
          display: block;
          color: $grey;
          font-size: 2rem;
          margin-right: 0.5rem;
        }
      }
    }
  }
}