@import "../colors";
@import "../mixins";
@import "../variables";

.navbar-hip {
  border-bottom: 2px solid $grey;
  height: 6rem;
}

.logo-hip {
  @include links;
  img {
    height: 70%;
    width: 90%;
    @media screen and (max-width: $breakpoint-mobile) {
      height: 20%;
      width: 30%;
    }
  }
}

.search-input-hip {
  width: auto;
  text-indent: 1rem;
  border-radius: 0px;
  border: 2px solid $dark-blue;
}

.search-img-hip {
  height: 1.5rem;
  width: 1.5rem;
}

.header-btn-hip {
  @include light-blue-bg;
  border-radius: 0;
}

.header-icon-hip {
  @include black-bg;
  border-radius: 0;
}
