@import "../colors";
@import "../mixins";

.navbar-scss {
  height: 6rem;
  background-color: $light-grey;
}

.logo-scss {
  background-color: $grey;
  height: 4rem;
  width: 12rem;
  @include links;
}

.search-input-scss {
  min-width: 30rem;
  text-indent: 1rem;
}

.search-img-scss {
  height: 1.5rem;
  width: 1.5rem;
}

.search-border-radius-scss {
  border-radius: 6.25px 0px 0px 6.25px;
}
