@import "../colors";

.mobile-search-modal {
  position: absolute;
  background-color: $white;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  min-height: 100%;
  max-height: auto;
  z-index: 1000;
  .no-results-hip {
    height: 100rem;
    padding-top: 10rem; 
  }

  .filter-btn-hip {
    color: $black;
    background-color: $light-grey;
  }

  .clear-filters-btn-hip {
    color: $dark-blue;
  }
}
