@import "../colors";
@import "../mixins";

.mobile-search-modal {
  @include modals;
  .no-results-hip {
    height: 100rem;
    padding-top: 10rem; 
  }

  .filter-btn-hip {
    color: $black;
    background-color: $light-grey;
  }

  .clear-filters-btn-hip {
    color: $dark-blue;
  }
}
