@import "../colors";

.sidebar-hip {
  border-right: 1px solid $grey;
}

.sidebar-divider-hip {
  border: 1px solid $grey;
  width: 100%;
  height: 0px;
}

.sidenav-link-hip {
  color: $dark-blue;
  cursor: pointer;
  &:hover {
    font-weight: bolder;
  }
}

.sidenav-link-hip.is-active-hip {
  color: $white;
  background-color: $dark-grey;
  font-weight: bolder;
  margin: 0 0.5rem;
  padding: 0.5rem 0.25rem;

  .signin-icon-blue-hip {
    color: $white;
  }
}