@import "../colors";

.sidebar-border-scss {
  border-right: 1px solid $grey;
}

.sidebar-divider-scss {
  border: 1px solid $grey;
  width: 100%;
  height: 0px;
}

.is-active-scss {
  color: $blue;
  font-weight: bolder;
  border-right: 0.25rem solid $blue;
}

.sidenav-link-scss {
  cursor: pointer;
  &:hover {
    font-weight: bolder;
  }
}