@import "../colors";
@import "../mixins";
@import "../variables";

.sidebar-hip {
  border-right: 1px solid $grey;
  @media screen and (max-width: $breakpoint-tablet) {
    border-right: none;
    @include modals;
  }
}

.sidebar-divider-hip {
  border: 1px solid $grey;
  width: 100%;
  height: 0px;
}

.is-active-hip {
  color: $dark-blue;
  font-weight: bolder;
}

.sidenav-link-hip {
  color: $dark-blue;
  cursor: pointer;
  &:hover {
    font-weight: bolder;
  }
}

.sidenav-link-hip.is-active-hip {
  color: $white;
  background-color: $dark-grey;
  font-weight: bolder;
  margin: 0 0.5rem 0 0rem;
  padding: 0.5rem 0.25rem 0.5rem 0rem;

  .signin-icon-blue-hip {
    color: $white;
  }
}