<footer class="footer-section-hip has-text-centered pt-5">
  <div class="footer-section-blue-hip">
    <p class="pt-5">Copyright 2021 by The City of Philadelphia. All Rights Reserved.</p>
  </div>
  <div class="footer-section-black-hip is-flex is-justify-content-space-around is-align-items-center">
    <a href="#to-terms-of-use" class="is-block btn-footer">Terms of Use</a>
    <a href="#to-pdf" class="is-block btn-footer">Right to Know (pdf)</a> 
    <a href="#privacy-policy" class="is-block btn-footer">Privacy Policy</a> 
    <a href="#accessibility" class="is-block btn-footer">Accessibility</a> 
  </div>
</footer>
