{% load static %}

<nav class="navbar columns is-desktop navbar-hip is-sticky-parent-hip" role="navigation" aria-label="main navigation">
  <div id="mobile-header-hip" class="is-hidden-desktop is-full-width-hip columns push-to-back-hip is-mobile is-sticky-hip">
    <div class="column is-1-mobile is-3-tablet is-jusify-content-flex-start">
      <a role="button" id="navbar-burger" class="is-pulled-left navbar-burger is-block is-size-5 ml-2 mt-4 is-mobile" aria-label="menu" aria-expanded="false" data-target="sidebarContent">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="column is-10-mobile is-6-tablet">
      <a class="logo-hip" href="{{ home_page_url }}">
        <img class="mt-3" src="{% static 'images/city-of-philadelphia-pdph.png' %}" alt="City of Philadelphia Department of Public Health">
      </a>
    </div>
    <div class="column is-1-mobile is-3-tablet mt-4">
      <a role="button" id="search-mobile-btn" aria-label="search" aria-expanded="false" data-target="searchMobileContainer" class="button btn-no-border-hip pt-5 pb-5 is-pulled-right">
        <span class="search-icon-reverse-hip"></span>
      </a>
    </div>
  </div>
  <div class="navbar-brand column is-one-fifth mobile-hidden-hip">
    <a class="is-hidden-touch logo-hip" href="{{ home_page_url }}">
      <img class="mt-3" src="{% static 'images/city-of-philadelphia-pdph.png' %}" alt="City of Philadelphia Department of Public health">
    </a>
  </div>
  </div>

  <div class="column is-four-fifths columns is-desktop mobile-hidden-hip">
    <div class="column is-desktop is-hidden-touch is-6 pt-5">
      <div class="navbar-item is-full-height-hip">
        <div class="control is-inline-block has-icons-right is-full-width-hip pl-6 pr-6">
          <span class="icon is-right dark-blue-bg-hip mr-6">
            <i class="search-icon-hip"></i>
          </span>
          <form action="{% url "search" %}">
            <input type="hidden" name="initial_url" value="{{ initial_url|default:request.get_full_path }}" />
            <input class="input is-normal search-input-hip is-full-width-hip" name="query" type="text" placeholder="Enter Search Terms...">
          </form>
        </div>
      </div>
    </div>
    <div class="column is-desktop is-hidden-touch is-6 pt-5">
      <!-- WideScreen and Higher Breakpoint-->
      <div class="is-flex is-justify-content-flex-end is-align-content-center is-full-height-hip is-hidden-touch is-hidden-desktop-only">
        <div class="navbar-item p-0">
          <a href="/report-a-disease" class="is-block pl-2">
            <span class="button is-size-7-touch header-icon-hip ml-0">
              <i class="bullhorn-icon-hip"></i>
            </span>
            <span class="button is-size-7-touch header-btn-hip ml-0">
              <strong>Report a Disease</strong>
            </span>
          </a>
        </div>
        <div class="navbar-item">
          {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}" class="is-block">
              <span class="button is-size-7-touch alt-header-btn-hip ml-0 pr-6">
                <strong>Logged In</strong>
                <i class="down-triangle-icon-hip"></i>
              </span>
            </a>
          {% else %}
            <a href="{% url 'login' %}" class="is-block">
              <span class="button is-size-7-touch header-icon-hip ml-0">
                <i class="signin-icon-hip"></i>
              </span>
              <span class="button is-size-7-touch header-btn-hip ml-0 pr-6">
                <strong>Partner Log In</strong>
              </span>
            </a>
          {% endif %}
        </div>
      </div>
      <!-- Desktop Breakpoint-->
      <div class="is-flex is-justify-content-space-around is-align-content-center is-full-height-hip is-hidden-touch is-hidden-widescreen">
        <div class="navbar-item p-0">
          <a href="/report-a-disease" class="is-block pl-1">
            <span class="button is-size-7-touch header-icon-hip ml-0">
              <i class="bullhorn-icon-hip"></i>
            </span>
            <span class="button is-size-7-touch header-btn-hip ml-0">
              <strong>Report Disease</strong>
            </span>
          </a>
        </div>
        <div class="navbar-item pl-1 pr-2">
          {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}" class="is-block">
              <span class="button is-size-7-touch alt-header-btn-hip ml-0">
                <strong>Logged In</strong>
                <i class="down-triangle-icon-hip"></i>
              </span>
            </a>
          {% else %}
            <a href="{% url 'login' %}" class="is-block pr-6">
              <span class="button is-size-7-touch header-icon-hip ml-0">
                <i class="signin-icon-hip"></i>
              </span>
              <span class="button is-size-7-touch header-btn-hip ml-0">
                <strong>Partner Log In</strong>
              </span>
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</nav>

{% include 'includes/mobile_search_modal.html' %}
