{% load static %}

<nav class="navbar navbar-scss" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="navbar-item">
      <a class="button logo-scss" href="/home">
        <strong>Logo</strong>
      </a>
    </div>

    <a role="button" id="navbar-burger" class="navbar-burger is-size-5 mr-2 mt-4" aria-label="menu" aria-expanded="false" data-target="navbarMainContent">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarMainContent" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item">
        <div class="control has-icons-left">
          <span class="icon is-left has-background-link search-border-radius-scss">
            <img class="search-img-scss" src="{% static 'search.svg' %}" />
          </span>
          <input class="input is-info is-normal search-input-scss is-flex" type="text" placeholder="Search">
        </div>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-size-7-touch is-link" href="#">
            <strong>Report Disease</strong>
          </a>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link is-size-7-touch" href="#">
          <strong>PODS Login</strong>
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item is-size-7-touch" href="#">
            Sign In
          </a>
          <a class="navbar-item is-size-7-touch" href="#">
            Sign Out
          </a>
          <a class="navbar-item is-size-7-touch" href="#">
            Placeholder
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const navbarBurger = document.querySelector("#navbar-burger");
    navbarBurger.addEventListener("click", function () {
      const dataTarget = this.dataset.target;
      const target = document.getElementById(dataTarget);
      if (target.classList.contains("is-active")) {
        target.classList.remove("is-active");
      } else {
        target.classList.add("is-active");
      }
    });
  });
</script>
