{% load static %}

<nav class="navbar navbar-scss" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="navbar-item">
      <a class="button logo-scss" href="/home">
        <strong>Logo</strong>
      </a>
    </div>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMainContent">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarMainContent" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item">
        <div class="control has-icons-left">
          <span class="icon is-left has-background-link search-border-radius-scss">
            <img class="search-img-scss" src="{% static 'search.svg' %}" />
          </span>
          <input class="input is-info is-normal search-input-scss is-flex" type="text" placeholder="Search">
        </div>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-link" href="#">
            <strong>Report Disease</strong>
          </a>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="#">
          <strong>PODS Login</strong>
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="#">
            Sign In
          </a>
          <a class="navbar-item" href="#">
            Sign Out
          </a>
          <a class="navbar-item" href="#">
            Placeholder
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
