<div class="dropdown-menu">
  <div class="dropdown-content legend-hip">

    <div class="dropdown-item">
      <div class="columns is-vcentered">
        <div class="column is-one-quarter alert-hip legend-left-hip">
          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
          Alert
        </div>
        <div class="column">
          Conveys the highest level of importance; warrants immediate action or attention.
        </div>
      </div>
    </div>

    <div class="dropdown-item">
      <div class="columns is-vcentered">
        <div class="column is-one-quarter advisory-hip legend-left-hip">
          <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          Advisory
        </div>
        <div class="column">
          Provides important information for a specific incident or situation; may not require immediate action.
        </div>
      </div>
    </div>

    <div class="dropdown-item">
      <div class="columns is-vcentered">
        <div class="column is-one-quarter notification-hip legend-left-hip">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
          Notification
        </div>
        <div class="column">
          Provides information regarding an incident or situation; unlikely to require immediate action.
        </div>
      </div>
    </div>

    <div class="dropdown-item">
      <div class="columns is-vcentered">
        <div class="column is-one-quarter update-hip legend-left-hip">
          <i class="fa fa-arrow-alt-circle-up" aria-hidden="true"></i>
          Update
        </div>
        <div class="column">
          Provides updated information regarding an incident or situation; unlikely to require immediate action.
        </div>
      </div>
    </div>

  </div>
</div>
