<div id="logged-in-dropdown" class="dropdown">
  <div class="dropdown-trigger">
    <button
      id="logged-in-dropdown-btn"
      class="button is-size-7-touch alt-header-btn-hip ml-0"
      aria-haspopup="true"
      aria-controls="dropdown-menu"
    >
      <span>
        <strong>Logged In</strong>
      </span>
      <span>
        <i class="down-triangle-icon-hip pl-1 pb-1"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu" id="dropdown-menu" role="menu">
    <div class="dropdown-content">
      {% if authenticated_home_pages %}
      <div class="pl-2 pb-4 is-flex is-justify-content-flex-start is-align-items-center {% if hidden_desktop %}is-hidden-desktop{% endif %}">
        <h5 class="is-size-7">Authenticated&nbsp;Content</h5>
      </div>
      {% for page in authenticated_home_pages %}
      <a href="{{ page.url }}" class="dropdown-item">
        <span>{{ page.name }}</span>
      </a>
      {% endfor %}
      {% endif %}
      <div class="pl-2 py-4 is-flex is-justify-content-flex-start is-align-items-center {% if hidden_desktop %}is-hidden-desktop{% endif %}">
        <h5 class="is-size-7">Log&nbsp;Out</h5>
      </div>
      <a href="{% url 'logout' %}" class="dropdown-item">
        <span class="signout-icon-red-hip"></span>
        <span class="alert-hip">Log out</span>
      </a>
    </div>
  </div>
</div>
