{% load wagtailimages_tags %}
<div class="column is-one-third">
  <div class="card poster-card-hip">
    <div class="card-image">
      <a href="{{ poster.main_poster.url }}">
        <figure class="image is-200x260 p-5">
          {% image poster.thumbnail fill-400x520 %}
        </figure>
      </a>
    </div>
    <div class="card-content px-2">
      <h4>{{ poster.title }}</h4>
      <ul>
        {% for version in poster.additional_versions.all %}
          <li><a class="card-link-hip" href="{{ version.document.url }}">{{ version.label }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
