<div class="column is-2">
  <ul class="my-4">
    <li class="pl-4 pb-2">Home</li>
    <li class="pl-4 pb-2">Health Alerts</li>
    <li class="pl-4 pb-2">Emergent Health Topics</li>
    <li class="pl-4 pb-2">Data and Reports</li>
    <li class="pl-4 pb-2">Disease Control Guidance</li>
    <li class="pl-4 pb-2">Emergency Response</li>
  </ul>
  <div class="pl-2 pb-4 is-flex is-justify-content-flex-start is-align-items-center">
    <h5 class="is-size-7">Archives</h5>
    <div class="mx-2 sidebar-divider-scss"></div>
  </div>
  <ul class="mb-4">
    <li class="pl-4 pb-2">Newsletter</li>
    <li class="pl-4 pb-2">Conferences</li>
    <li class="pl-4 pb-2">Resources</li>
  </ul>
  <div class="pl-2 pb-4 is-flex is-justify-content-flex-start is-align-items-center">
    <h5 class="is-size-7">Authenticated</h5>
    <div class="mx-2 sidebar-divider-scss"></div>
  </div>
  <ul class="mb-4">
    <li class="pl-4 pb-2">Log in to closed POD</li>
  </ul>
</div>
