<div class="is-flex is-justify-content-space-around pt-4">
  {% if social_media.twitter %}
    <a target="_blank" href="{{ social_media.twitter }}">
      <strong>Twitter</strong>
      <span class="twitter-icon-hip"></span>
    </a>
  {% endif %}
  {% if social_media.facebook %}
    <a target="_blank" href="{{ social_media.facebook }}">
      <strong>Facebook</strong>
      <span class="facebook-icon-hip"></span>
    </a>
  {% endif %}
  {% if social_media.instagram %}
    <a target="_blank" href="{{ social_media.instagram }}">
      <strong>Instagram</strong>
      <span class="instagram-icon-hip"></span>
    </a>
  {% endif %}
  {% if social_media.youtube %}
    <a target="_blank" href="{{ social_media.youtube }}">
      <strong>YouTube</strong>
      <span class="youtube-icon-hip"></span>
    </a>
  {% endif %}
</div>