@import "../colors";
@import "../mixins";

.is-fixed {
  position: fixed;
}

.is-active {
  font-weight: 700;
}

.footer-section-hip {
  background-color: $grey;
  height: 50px;
}

.bg-lt-grey {
  background-color: $light-grey;
}

.is-white-hip {
  color: $white;
}

.bg-very-dark-grey-hip {
  background-color: $very-dark-grey;
}

.richtext-area-hip {
  @include headers;
  @include paragraphs;
}

.full-width-hip {
  width: 100%;
}
