@import "../colors";
@import "../mixins";

.is-fixed {
  position: fixed;
}

.is-active {
  font-weight: 700;
}

.footer-section-hip {
  background-color: $grey;
  height: 50px;
}

.bg-lt-grey {
  background-color: $light-grey;
}

.richtext-area-hip {
  @include headers;
  @include paragraphs;
}
