@import "../mixins";
@import "../colors";

.filter-widget-hip {
  background-color: $light-grey;
  .tag {
    background-color: $grey-300;
  }
}

.alert-table-hip {
  width: 100%;
  th {
    background-color: #323232;
    color: #ffffff;
  }
}
