{% extends "base.html" %}

{% block content %}

<section class="section is-flex is-justify-content-center is-align-items-center"
    style="min-height: 100vh; width: 100%;">
    <div class="box has-text-centered has-shadow-xl" style="max-width: 28rem; width: 100%;">
        <p class="title is-1 has-text-info mb-4">500</p>
        <p class="title is-3 has-text-black mb-4">There was an error</p>
        <a href="/" class="button is-medium is-info">
            Go to Homepage
        </a>
        <p class="pt-6">Philadelphia Department of Health</p>
    </div>
</section>
{% endblock content %}