
{% load sass_tags static wagtailuserbar %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <!-- Google Tag Manager [phila.gov]  -->
      <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-MC6CR2');
      </script>
    <!-- End Google Tag Manager [phila.gov] -->

    <meta charset="utf-8" />
    <title>
      {% block title %}
        {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
      {% endblock %}
      {% block title_suffix %}
        {% with self.get_site.site_name as site_name %}
          {% if site_name %}- {{ site_name }}{% endif %}
        {% endwith %}
      {% endblock %}
    </title>
    <meta name="description" content="{% if page.search_description %}{{ page.search_description }}{% endif %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% if not debug %}
      <script
        src="https://browser.sentry-cdn.com/5.19.1/bundle.min.js"
        integrity="sha384-ibWewy8LWP0FdvEBD3iLjNmbFkkh/FKtOz8GR9C8ZBWjDTbjbdIDpa4nc/AasWns"
        crossorigin="anonymous">
      </script>
    {% endif %}

    {# favicon #}
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

    {# sass Stylesheets #}
    <link href="{% sass_src 'styles/bundle.scss' %}" rel="stylesheet" type="text/css" />

    {# OpenSans font for text, Montserrat for buttons #}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">

    {% block extra_css %}
    {% endblock %}
  </head>

  <body>
    <!-- Google Tag Manager no script [phila.gov] -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MC6CR2"
      height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager no script [phila.gov] -->

    {% wagtailuserbar 'bottom-left' %}
    {% include 'includes/header.html' %}
    <div class="columns is-desktop">
      {% block sidebar %}
        {% include 'includes/sidebar.html' with hidden_desktop=False %}
      {% endblock %}
      <div class="column full-height-hip">
        {% block content %}{% endblock %}
      </div>
    </div>
    {% include 'includes/footer.html' %}

    {# Global javascript #}
    {% render_bundle 'main' %}

    {% block extra_js %}{% endblock %}
</body>
</html>
