{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
<!-- diseases and conditions

<table>
  <tbody>
    {% for disease in ordered_diseases %}
      <tr>
        <td>
          <a href="{{ disease.url }}">
            <div>
              <div>{{ disease.title }}</div>
              {% if disease.specific.is_emergent %}
                {% if disease.specific.emergent_date_range %}<div>{{ disease.specific.emergent_date_range }}</div>{% endif %}
                <div>Emergent</div>
              {% endif %}
            </div>
          </a>
        </td>
        <td>
          <a href="{{ disease.url }}">
            <div>{{ disease.specific.description|richtext }}</div>
            <div>Updated {{ disease.specific.latest_revision_created_at|date:"M j, Y" }}</div>
          </a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table> -->
<div>
  <div class="disease-control-index-page-hip">
    <h2>{{ page.title }}</h2>
    <div>
      {% for disease in ordered_diseases %}
        {% include 'includes/disease_control_card.html' with page=disease %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
