{% extends 'base.html' %}
{% load wagtailcore_tags %}

{% block content %}
<div class="closed-pod-homepage-hip px-4">
  <h2 class="is-inline-block pr-4">{{ page.title }}</h2>
  {% if page.action_section %}
    <section class="action-section-hip py-4 pl-4">
      {{ page.action_section|richtext }}
      <a href="{% url 'closedpod_contact_information_edit' %}">
        <span class="button header-icon-hip ml-0">
          <i class="contact-icon-hip"></i>
        </span>
        <span class="button login-btn-hip ml-0">
          <strong>Update Contact Info</strong>
        </span>
      </a>
    </section>
  {% endif %}
  {% if page.plan_subtitle %}
    <section>
      <h3>{{ page.plan_subtitle }}</h3>
      {{ page.plan_text|richtext }}
    </section>
  {% endif %}
  {% if page.exercise_subtitle %}
    <section>
      <h3>{{ page.exercise_subtitle }}</h3>
      {{ page.exercise_text|richtext }}
    </section>
  {% endif %}
  <section>
    <h3>Partner Resources</h3>
    {% for child_page in page.get_children %}
      {% include 'includes/partner_resource_card.html' with resource=child_page %}
    {% endfor %}
  </section>
  {% if page.about_subtitle %}
    <section>
      <h3>{{ page.about_subtitle }}</h3>
      {{ page.about_text|richtext }}
    </section>
  {% endif %}
</div>
{% endblock content %}
