{% extends 'base.html' %}
{% load wagtailcore_tags hip_tags %}

{% block content %}
  <div class="closed-pod-childpage-hip">
    <h2 class="is-inline-block px-4">{{ page.title }}</h2>
    <span class="lock-icon-2x-hip"></span>
    {% for block in page.body %}
      {% if block.value.nav_heading %}
        {# This is the div that the IntersectionObserver observes #}
        <div class="nav-heading-hip" id="section-{{block.value.nav_heading|slugify}}"></div>
      {% endif %}
      {% if block.value.is_card %}
        <section class="page-section-hip descendant-table-layout-fixed-hip card-hip mt-4 mb-6 mx-4">
      {% else %}
        <section class="page-section-hip descendant-table-layout-fixed-hip mx-4">
      {% endif %}
          {{ block.value.body }}
          {% if block.value.contact_info %}
            <div class="columns is-desktop">
              <div class="column is-7 pl-5 pr-5">
                {% contact_info %}
              </div>
              <div class="column is-5"></div>
            </div>
          {% endif %}
        </section>
    {% endfor %}
  </div>
{% endblock content %}
