{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block title %}
  Philadelphia Department of Public Health - {{ page.title }}
{% endblock %}

{% block content %}
  <div class="homepage-padding-hip">
    <section class="columns">
      {% for quick_link in page.quick_links %}
        <div class="column is-relative has-text-centered quicklink-padding-hip">
          <div class="arrow-right-hip ml-4 mt-4"></div>
          <div class="p-4 is-fullheight-hip quicklink-color-hip">
            <a href="{{ quick_link.value.link }}">
              <div class="pt-0 pr-4 pb-4 pl-4">{{ quick_link.value.title }}</div>
            </a>
            <div>Updated {{ quick_link.value.updated_datetime | date:"M j, Y" }}</div>
          </div>
        </div>
      {% endfor %}
    </section>

    <section class="columns">
      <div class="column"></div>
      <div class="column">
        <div class="bg-lt-grey p-4 richtext-area-hip">
          {{ page.about|richtext }}
        </div>
      </div>
    </section>

    <section class="recently-updated-hip">
      <h3>Recently Updated</h3>
      <table class="table-grid-pattern-hip table-space-between-cells-hip full-width-hip">
        <thead>
          <tr class="py-2">
            <th class="py-4 pl-4 is-white-hip bg-very-dark-grey-hip">Name</th>
            <th class="py-4 pl-4 is-white-hip bg-very-dark-grey-hip">Type</th>
            <th class="py-4 pl-4 is-white-hip bg-very-dark-grey-hip">Updated</th>
          </tr>
        </thead>
        {% for recent_update in recent_updates %}
          <tr class="py-2">
            <td class="py-4 pl-4 pr-2">
              {% if recent_update.model_name == "page" %}
                <a href="{% pageurl recent_update %}">
              {% elif recent_update.model_name == "document"%}
                <a href="{{ recent_update.url }}">
              {% endif %}
                {{ recent_update.name }}
              </a>
            </td>
            <td class="py-4 pl-4 pr-2">
              {% if recent_update.model_name == "page" %}
                <i class="fa fa-link " aria-hidden="true"></i>
              {% elif recent_update.model_name == "document"%}
                <i class="fa fa-download" aria-hidden="true"></i>
              {% endif %}
              {{ recent_update.type_of_object }}
            </td>
            <td class="py-4 pl-4 pr-2">{{ recent_update.updated_at | date:"M j, Y" }}</td>
          </tr>
        {% endfor %}
      </table>
    </section>
  </div>
{% endblock %}
