{% extends "base.html" %}
{% load wagtailcore_tags hip_tags %}

{% block title %}
  Philadelphia Department of Public Health - {{ page.title }}
{% endblock %}

{% block sidebar %}
  {% include 'includes/sidebar.html' with hidden_desktop=True %}
{% endblock %}

{% block content %}
  <div>
    <div class="columns">
      <div class="column">
        <div class="pt-5 px-5">
          <a href="{{ prev_url }}">< Back</a>
        </div>
        {% for block in page.body %}
          {% if block.value.nav_heading %}
	    {# This is the div that the IntersectionObserver observes #}
	    <div class="nav-heading-hip" id="section-{{block.value.nav_heading|slugify}}"></div>
	  {% endif %}
          {% if block.value.is_card %}
            <section class="page-section-hip card-hip my-4 mx-4">
              {{ block.value.body }}
            </section>
          {% else %}
            <section class="page-section-hip mx-4">
              {{ block.value.body }}
              {% if block.value.contact_info %}
                {% contact_info %}
              {% endif %}
            </section>
          {% endif %}
        {% endfor %}
      </div>

      {% include 'includes/right_scroll_nav.html' with page=page %}

    </div>
  </div>
{% endblock %}
