{% extends "base.html" %}
{% load wagtailcore_tags hip_tags %}

{% block title %}
  Philadelphia Department of Public Health - {{ page.title }}
{% endblock %}

{% block sidebar %}
  {% if page.show_left_nav %}
    {% include 'includes/sidebar.html' with hidden_desktop=False %}
  {% else %}
    {% include 'includes/sidebar.html' with hidden_desktop=True %}
  {% endif %}
{% endblock sidebar %}

{% block content %}
  <div class="{% block page_css_class %}{% endblock page_css_class %}">
    <div class="columns">
      <div class="column {% block main_area_css_class %}{% endblock main_area_css_class %}">
        {% block before_staticpage_content %}{% endblock %}

        {% if page.show_breadcrumb %}
          {% include 'includes/breadcrumb.html' %}
        {% endif %}

        {% if page.show_back_button %}
          {% block back_button %}
          <div class="pt-5 px-5">
            <a href="{{ previous_url }}">< Back</a>
          </div>
          {% endblock back_button %}
        {% endif %}

        {% if page.action_section %}
          <section class="action-section-hip py-4 pl-4">
            {{ page.action_section|richtext }}
          </section>
        {% endif %}

        {% for block in page.body %}
          {% if block.value.nav_heading %}
            {# This is the div that the IntersectionObserver observes #}
            <div class="nav-heading-hip" id="section-{{block.value.nav_heading|slugify}}"></div>
          {% endif %}
          {% if block.value.is_card %}
            <section class="page-section-hip card-hip mt-4 mb-6 mx-4">
          {% else %}
            <section class="page-section-hip mx-4">
          {% endif %}
              {{ block.value.body }}
              {% if block.value.contact_info %}
                <div class="columns is-desktop">
                  <div class="column is-7 pl-5 pr-5">
                    {% contact_info %}
                  </div>
                  <div class="column is-5"></div>
                </div>
              {% endif %}
            </section>
        {% endfor %}
      </div>

      {% if page.show_right_nav %}
        {% include 'includes/right_scroll_nav.html' with page=page %}
      {% endif %}

    </div>
  </div>
{% endblock %}
